@model CurrentDesk.BackOffice.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="../../Content/Common.css" rel="stylesheet" type="text/css" />
</head>
<body id="login">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {        
        

        <div class="login-wrapper">
            <header>
                @*<img src=@Url.Content("~/Images/logo-login.png") alt="FastQuote Securities"></header>*@
                <img src="@Url.Action("GetLoginImage","Account")" alt="FastQuote Securities"></header>
            <form>
                <dl class="left-fields">
                    <dt>
                        <label for="username">
                            User Name</label></dt>
                    <dd>
                        @Html.TextBoxFor(model => model.UserName, new { @id = "username", @class = "width-200" })</dd>
                </dl>
                <dl class="right-fields">
                    <dt>
                        <label for="password">
                            Password</label></dt>
                    <dd>
                        @Html.PasswordFor(model => model.Password, new { @id = "password", @class = "width-200" })</dd>
                </dl>
                <div class="text-center" style="clear: both; padding-top: 35px;">
                    <input class="button button-green" type="submit" value="Submit" />
                </div>
                <div class="text-center" style="clear: both; padding-top: 25px;">
                    @Html.ValidationSummary(true)
                </div>
            </form>
        </div>
    
@* <fieldset>
            <legend>LoginModel</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>*@
    }
</body>
</html>
