@{
    ViewBag.Title = "AssetManagerClients";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">
            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="clients"><span class="normal"><a href="clients.html">Clients</a> : <a href="client-details-am.html">[client name]</a> :</span> AM Clients</h1>
            </div>

            <!-- Clients List Section -->
            <article>
                <div class="select-bar">
                    <select class="chzn-select width-150">
                        <!-- This first <option> is needed here for the Chosen plugin: http://harvesthq.github.com/chosen/ -->
                        <option></option>
                        <option selected="">Clients List</option>
                        <option>Accounts List</option>
                    </select>
                </div>
                <h2 class="inline-block">Clients List</h2>
                <div class="content-section no-border-bottom">
                    <table id="TableClients">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

            <!-- Accounts List Section -->
            <article>
                <h2 class="inline-block">Accounts List</h2>
                <div class="content-section no-border-bottom">
                    <table id="TableAccounts">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="primary" href="@Url.Action("AssetManagerDetails", "Clients")"><span class="arrow"></span><strong>[client name]</strong>00000000</a></li>
                <li><a class="single accounts" href="@Url.Action("AssetManagerAccounts", "Clients")"><span class="arrow"></span><strong>AM Accounts</strong></a></li>
                <li class="active"><a class="single clients" href="@Url.Action("AssetManagerClients", "Clients")"><span class="arrow"></span><strong>AM Clients</strong></a></li>
                <li><a class="single agents" href="#"><span class="arrow"></span><strong>AM Agents</strong></a></li>
                <li><a class="fees" href="#"><span class="arrow"></span><strong>AM Fee Group</strong>Management</a></li>
                <li><a class="programs" href="@Url.Action("ManageAccPrograms", "Clients")"><span class="arrow"></span><strong>Manage Account</strong>Programs</a></li>
                <li><a class="tools" href="#"><span class="arrow"></span><strong>AM Marketing</strong>Tools</a></li>
                <li><a class="single documents" href="#"><span class="arrow"></span><strong>AM Documents</strong></a></li>
                <li><a class="single history" href="#"><span class="arrow"></span><strong>AM Activity</strong></a></li>
                <li><a class="notes" href="#"><span class="arrow"></span><strong>AM Note</strong>History</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/choosen")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liClients').addClass('active');
            $('select').chosen();

            $("#TableClients").jqGrid({
                datatype: "clientSide",
                sortname: 'status',
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                colNames: ['Activity', 'Account ID', 'First Name', 'Last Name', 'Company Name', 'Tags', 'Status'],
                colModel: [
                    { name: 'activity', width: 75, fixed: true, align: 'center', title: false, search: false },
                    { name: 'account', title: false },
                    { name: 'fname', title: false },
                    { name: 'lname', title: false },
                    { name: 'company', title: false },
                    { name: 'tags', title: false },
                    { name: 'status', title: false, stype: false }
                ],
                data: [
                    {
                        'activity': '<img src="/Images/activity-gray.png" alt="" title="Activity message here">',
                        'account': '<a href="#">[account ID]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'tags': '[tag], [tag], [tag]',
                        'status': '[status]'
                    },
                    {
                        'activity': '<img src="/Images/activity-green.png" alt="" title="Activity message here">',
                        'account': '<a href="#">[account ID]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'tags': '[tag], [tag], [tag]',
                        'status': '[status]'
                    },
                    {
                        'activity': '<img src="/Images/activity-red.png" alt="" title="Activity message here">',
                        'account': '<a href="#">[account ID]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'tags': '[tag], [tag], [tag]',
                        'status': '[status]'
                    },
                    {
                        'activity': '<img src="/Images/activity-yellow.png" alt="" title="Activity message here">',
                        'account': '<a href="#">[account ID]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'tags': '[tag], [tag], [tag]',
                        'status': '[status]'
                    }
                ]
            });
            $("#TableClients").filterToolbar({
                searchOnEnter: true
            });

            $("#TableAccounts").jqGrid({
                datatype: "clientSide",
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                forceFit: true,
                colNames: ['Type', 'Account Number', 'First Name', 'Last Name', 'Company Name', 'Fee Group', 'Program', 'Equity'],
                colModel: [
                    { name: 'type', width: 55, fixed: true, title: false, search: false, sortable: false },
                    { name: 'account', title: false },
                    { name: 'fname', title: false },
                    { name: 'lname', title: false },
                    { name: 'company', title: false },
                    { name: 'group', title: false },
                    { name: 'program', title: false },
                    { name: 'equity', title: false, search: false }
                ],
                data: [
                    {
                        'type': '<img src="/Images/account-metatrader.png" title="MetaTrader 4" alt="MetaTrader 4">',
                        'account': '<a href="#">[account number]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'equity': '[equity]',
                        'program': '[program]',
                        'group': '[fee group]'
                    },
                    {
                        'type': '<img src="/Images/account-managed.png" title="Managed Account" alt="Managed Account">',
                        'account': '<a href="#">[account number]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'equity': '[equity]',
                        'program': '[program]',
                        'group': '[fee group]'
                    },
                    {
                        'type': '<img src="/Images/account-landing.png" title="Landing Account" alt="Landing Account">',
                        'account': '<a href="#">[account number]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'company': '[company name]',
                        'equity': '[equity]',
                        'program': '[program]',
                        'group': '[fee group]'
                    }
                ]
            });
            $("#TableAccounts").filterToolbar({
                searchOnEnter: true
            });

        });//End of ready
    </script>
}
