@{
    ViewBag.Title = "IntroducingBrokerAccounts";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">
            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="clients"><span class="normal"><a href="clients.html">Clients</a> : <a href="client-details-ib.html">[client name]</a> :</span> IB Accounts</h1>
            </div>

            <!-- USD Landing Account Section -->
            <article class="overflow">
                <!-- Each landing account section has <div> with the class .landing-header and the appropriate currency class added. -->
                <div class="landing-header usd clearfix">
                    <div class="left">
                        <h2>100-000-0000000</h2>
                        <h3>USD Landing Account</h3>
                    </div>
                    <div class="right">
                        <h3>Balance:<span class="balance"><small>$</small>10,950,000.00</span></h3>
                    </div>
                </div>
                <table id="TableUSD">
                    <tr>
                        <td />
                    </tr>
                </table>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="primary" href="@Url.Action("IntroducingBrokerDetails", "Clients")"><span class="arrow"></span><strong>[client name]</strong>00000000</a></li>
                <li class="active"><a class="single accounts" href="@Url.Action("IntroducingBrokerAccounts", "Clients")"><span class="arrow"></span><strong>IB Accounts</strong></a></li>
                <li><a class="single clients" href="@Url.Action("IntroducingBrokerClients", "Clients")"><span class="arrow"></span><strong>IB Clients</strong></a></li>
                <li><a class="single agents" href="@Url.Action("IntroducingBrokerAgents", "Clients")"><span class="arrow"></span><strong>IB Agents</strong></a></li>
                <li><a class="fees" href="@Url.Action("IntroducingBrokerFeeGroups", "Clients")"><span class="arrow"></span><strong>IB Fee Group</strong>Management</a></li>
                <li><a class="managers" href="#"><span class="arrow"></span><strong>IB Asset Manager</strong>Relationships</a></li>
                <li><a class="tools" href="#"><span class="arrow"></span><strong>IB Marketing</strong>Tools</a></li>
                <li><a class="single documents" href="@Url.Action("IntroducingBrokerDocuments", "Clients")"><span class="arrow"></span><strong>IB Documents</strong></a></li>
                <li><a class="single history" href="#"><span class="arrow"></span><strong>IB Activity</strong></a></li>
                <li><a class="notes" href="#"><span class="arrow"></span><strong>IB Note</strong>History</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liClients').addClass('active');

            $("#TableUSD").jqGrid({
                datatype: "clientSide",
                sortname: 'account',
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                colNames: ['Type', 'Account', 'Balance', 'Floating P/L', 'Equity', 'Latest Change'],
                colModel: [
                    { name: 'type', width: 55, fixed: true, align: 'center', title: false, sortable: false },
                    { name: 'account', width: 150, fixed: true, title: false },
                    { name: 'balance', align: 'right', sorttype: 'currency', title: false },
                    { name: 'floating', align: 'right', sorttype: 'currency', title: false },
                    { name: 'equity', align: 'right', sorttype: 'currency', title: false },
                    { name: 'change', width: 125, fixed: true, align: 'right', sorttype: 'number', title: false }
                ],
                data: [
                    {
                        'type': '<img src="/Images/account-metatrader.png" title="MetaTrader 4" alt="MetaTrader 4">',
                        'account': '<a href="@Url.Action("IBAccountDetails", "Clients")">100-001-0000000</a><br>Fee/Rebate Account',
                        'balance': '$700,000.00',
                        'floating': '+$10,000.00',
                        'equity': '$0,000,000.00',
                        'change': '+1.42%'
                    }
                ]
            });

        });//End of ready
    </script>
}
