@{
    ViewBag.Title = "IntroducingBrokerFeeGroups";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">

            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="clients"><span class="normal"><a href="clients.html">Clients</a> : <a href="client-details-ib.html">[client name]</a> :</span> IB Fee Group Management</h1>
            </div>

            <!-- Fee Groups Section -->
            <article>
                <ul class="button-bar">
                    <li>
                        <button class="btn btn-mini" data-toggle="modal" data-target="#modalNewFee">New Fee Group</button></li>
                </ul>
                <h2 class="inline-block">Fee Groups</h2>

                <div class="content-section no-border-bottom">
                    <table id="tableFees">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="primary" href="@Url.Action("IntroducingBrokerDetails", "Clients")"><span class="arrow"></span><strong>[client name]</strong>00000000</a></li>
                <li><a class="single accounts" href="@Url.Action("IntroducingBrokerAccounts", "Clients")"><span class="arrow"></span><strong>IB Accounts</strong></a></li>
                <li><a class="single clients" href="@Url.Action("IntroducingBrokerClients", "Clients")"><span class="arrow"></span><strong>IB Clients</strong></a></li>
                <li><a class="single agents" href="@Url.Action("IntroducingBrokerAgents", "Clients")"><span class="arrow"></span><strong>IB Agents</strong></a></li>
                <li class="active"><a class="fees" href="@Url.Action("IntroducingBrokerFeeGroups", "Clients")"><span class="arrow"></span><strong>IB Fee Group</strong>Management</a></li>
                <li><a class="managers" href="#"><span class="arrow"></span><strong>IB Asset Manager</strong>Relationships</a></li>
                <li><a class="tools" href="#"><span class="arrow"></span><strong>IB Marketing</strong>Tools</a></li>
                <li><a class="single documents" href="@Url.Action("IntroducingBrokerDocuments", "Clients")"><span class="arrow"></span><strong>IB Documents</strong></a></li>
                <li><a class="single history" href="#"><span class="arrow"></span><strong>IB Activity</strong></a></li>
                <li><a class="notes" href="#"><span class="arrow"></span><strong>IB Note</strong>History</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalNewFee" class="modal hide fade medium">

    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="inline-block h2">New Fee Group</h2>
    </div>

    <!-- Modal Body -->
    <div class="content-section">
        <ul class="row border">
            <li class="columns twelve">
                <label class="h3">Name <span class="required">*</span></label>
                <input class=" width-250" type="text">
            </li>
        </ul>
        <ul class="row border">
            <li class="columns twelve">
                <label class="h3">Spread Markup <span class="required">*</span></label>
                <select class="chzn-select width-150">
                    <option></option>
                    <option>1.0</option>
                    <option>2.0</option>
                    <option>3.0</option>
                </select>
                <span class="inline-h3">Other:</span><input class=" width-small" type="text">
            </li>
        </ul>
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Currency <span class="required">*</span></label>
                <select class="chzn-select width-150">
                    <option></option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>GBP</option>
                    <option>CHF</option>
                </select>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary">Add Fee Group</button>
    </div>
</div>
<!-- END MODAL CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/tip")
    @Scripts.Render("~/bundles/choosen")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liClients').addClass('active');
            $('select').chosen();

            $("#tableFees").jqGrid({
                datatype: "clientSide",
                sortname: 'account',
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                forceFit: true,
                colNames: ['Name', 'Spread Markup', 'Currency', ''],
                colModel: [
                    { name: 'name', title: false },
                    { name: 'spread', width: 150, fixed: true, align: 'right', title: false },
                    { name: 'currency', width: 150, fixed: true, align: 'center', sorttype: 'currency', title: false },
                    { name: 'actions', width: 80, fixed: true, align: 'center', title: false, sortable: false }
                ],
                data: [
                    {
                        'name': '[fee group name]',
                        'spread': '0.0',
                        'currency': '[CUR]',
                        'actions': '<input class="icon active tip" title="Disable" type="button"><input class="icon delete tip" title="Delete" type="button">'
                    },
                    {
                        'name': '[fee group name]',
                        'spread': '0.0',
                        'currency': '[CUR]',
                        'actions': '<input class="icon inactive tip" title="Enable" type="button"><input class="icon delete tip" title="Delete" type="button">'
                    },
                    {
                        'name': '[fee group name]',
                        'spread': '0.0',
                        'currency': '[CUR]',
                        'actions': '<input class="icon inactive tip" title="Enable" type="button"><input class="icon delete tip" title="Delete" type="button">'
                    },
                    {
                        'name': '[fee group name]',
                        'spread': '0.0',
                        'currency': '[CUR]',
                        'actions': '<input class="icon inactive tip" title="Enable" type="button"><input class="icon delete tip" title="Delete" type="button">'
                    }
                ]
            });

            $('.tip').tipTip({ defaultPosition: 'top' });

        });//End of ready
    </script>
}
