@{
    ViewBag.Title = "IntroducingBrokerAgents";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">

            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="clients"><span class="normal"><a href="clients.html">Clients</a> : <a href="client-details-ib.html">[client name]</a> :</span> IB Agents</h1>
            </div>

            <!-- Agents List Section -->
            <article>
                <div class="button-bar">
                    <button class="btn btn-mini" data-toggle="modal" data-target="#modalAddAgent">Add New Agent</button>
                </div>
                <h2 class="inline-block">Agents List</h2>
                <div class="content-section no-border-bottom">
                    <table id="TableClients">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="primary" href="@Url.Action("IntroducingBrokerDetails", "Clients")"><span class="arrow"></span><strong>[client name]</strong>00000000</a></li>
                <li><a class="single accounts" href="@Url.Action("IntroducingBrokerAccounts", "Clients")"><span class="arrow"></span><strong>IB Accounts</strong></a></li>
                <li><a class="single clients" href="@Url.Action("IntroducingBrokerClients", "Clients")"><span class="arrow"></span><strong>IB Clients</strong></a></li>
                <li class="active"><a class="single agents" href="@Url.Action("IntroducingBrokerAgents", "Clients")"><span class="arrow"></span><strong>IB Agents</strong></a></li>
                <li><a class="fees" href="@Url.Action("IntroducingBrokerFeeGroups", "Clients")"><span class="arrow"></span><strong>IB Fee Group</strong>Management</a></li>
                <li><a class="managers" href="#"><span class="arrow"></span><strong>IB Asset Manager</strong>Relationships</a></li>
                <li><a class="tools" href="#"><span class="arrow"></span><strong>IB Marketing</strong>Tools</a></li>
                <li><a class="single documents" href="@Url.Action("IntroducingBrokerDocuments", "Clients")"><span class="arrow"></span><strong>IB Documents</strong></a></li>
                <li><a class="single history" href="#"><span class="arrow"></span><strong>IB Activity</strong></a></li>
                <li><a class="notes" href="#"><span class="arrow"></span><strong>IB Note</strong>History</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalAddAgent" class="modal hide fade xlarge">

    <!-- Step 1: Select Bank Account to Fund -->
    <div id="step-1">

        <!-- Modal Header -->
        <div class="modal-header">
            <small class="right required"><strong>*Required Fields</strong></small>
            <h2 class="inline-block h2">New Agent Information </h2><small>Step 1 of 2</small>
        </div>

        <!-- Modal Body -->
        <div class="content-section">
            <ul class="row border">
                <li class="columns four">
                    <label class="h3">First Name <span class="required">*</span></label><input type="text" class="width-150"></li>
                <li class="columns four">
                    <label class="h3">Last Name <span class="required">*</span></label><input type="text" class="width-150"></li>
                <li class="columns four">
                    <label class="h3">Date of Birth <span class="required">*</span></label>
                    <div class="input-append date" data-date="" data-date-format="dd-mm-yyyy">
                        <input class="width-80" size="16" type="text" readonly="">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </li>
            </ul>
            <ul class="row border">
                <li class="columns four">
                    <label class="h3">Phone Number <span class="required">*</span></label><input type="text" class="width-150"></li>
                <li class="columns eight">
                    <label class="h3">Email Address <span class="required">*</span></label><input type="text" class="width-150"></li>
            </ul>
            <ul class="row border">
                <li class="columns four">
                    <label class="h3">Phone ID <span class="required">*</span></label><input type="text" class="width-sm"></li>
                <li class="columns eight">
                    <label class="h3">Password</label><input class="width-sm" type="text"><button class="btn btn-small margin-left">Generate Password</button></li>
            </ul>
            <ul class="row">
                <li class="columns twelve">
                    <label class="h3">Agent Address <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns twelve">
                    <input id="Address2" class="width-med" type="text"></li>
            </ul>
            <ul class="row">
                <li class="columns four">
                    <label class="h3">City <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns five">
                    <label class="h3">Country <span class="required">*</span></label>
                    <select class="chzn-select width-med" data-placeholder="Please Select">
                        <option></option>
                        <option value="af">Afghanistan</option>
                        <option value="al">Albania</option>
                        <option value="dz">Algeria</option>
                        <option value="as">American Samoa</option>
                        <option value="ad">Andorra</option>
                        <option value="ao">Angola</option>
                        <option value="ai">Anguilla</option>
                        <option value="aq">Antarctica</option>
                        <option value="ag">Antigua and Barbuda</option>
                        <option value="ar">Argentina</option>
                        <option value="am">Armenia</option>
                        <option value="aw">Aruba</option>
                        <option value="au">Australia</option>
                        <option value="at">Austria</option>
                        <option value="az">Azerbaijan</option>
                        <option value="bs">Bahamas</option>
                        <option value="bh">Bahrain</option>
                        <option value="bd">Bangladesh</option>
                        <option value="bb">Barbados</option>
                        <option value="by">Belarus</option>
                        <option value="be">Belgium</option>
                        <option value="bz">Belize</option>
                        <option value="bj">Benin</option>
                        <option value="bm">Bermuda</option>
                        <option value="bt">Bhutan</option>
                        <option value="bo">Bolivia</option>
                        <option value="ba">Bosnia and Herzegovina</option>
                        <option value="bw">Botswana</option>
                        <option value="bv">Bouvet Island</option>
                        <option value="br">Brazil</option>
                        <option value="io">British Indian Ocean Territory</option>
                        <option value="bn">Brunei Darussalam</option>
                        <option value="bg">Bulgaria</option>
                        <option value="bf">Burkina Faso</option>
                        <option value="bi">Burundi</option>
                        <option value="kh">Cambodia</option>
                        <option value="cm">Cameroon</option>
                        <option value="ca">Canada</option>
                        <option value="cv">Cape Verde</option>
                        <option value="ky">Cayman Islands</option>
                        <option value="cf">Central African Republic</option>
                        <option value="td">Chad</option>
                        <option value="cl">Chile</option>
                        <option value="cn">China</option>
                        <option value="cx">Christmas Island</option>
                        <option value="ci">CI - Cote dIvoire</option>
                        <option value="cc">Cocos (Keeling) Islands</option>
                        <option value="co">Colombia</option>
                        <option value="km">Comoros</option>
                        <option value="ck">Cook Islands</option>
                        <option value="cr">Costa Rica</option>
                        <option value="hr">Croatia</option>
                        <option value="cu">Cuba</option>
                        <option value="cy">Cyprus</option>
                        <option value="cz">Czech Republic</option>
                        <option value="dk">Denmark</option>
                        <option value="dj">Djibouti</option>
                        <option value="dm">Dominica</option>
                        <option value="do">Dominican Republic</option>
                        <option value="tp">East Timor</option>
                        <option value="ec">Ecuador</option>
                        <option value="eg">Egypt</option>
                        <option value="sv">El Salvador</option>
                        <option value="gq">Equatorial Guinea</option>
                        <option value="er">Eritrea</option>
                        <option value="ee">Estonia</option>
                        <option value="et">Ethiopia</option>
                        <option value="fk">Falkland Islands (Malvinas)</option>
                        <option value="fo">Faroe Islands</option>
                        <option value="fj">Fiji</option>
                        <option value="fi">Finland</option>
                        <option value="fr">France</option>
                        <option value="fg">French Guiana</option>
                        <option value="pf">French Polynesia</option>
                        <option value="tf">French Southern Territories</option>
                        <option value="ga">Gabon</option>
                        <option value="gm">Gambia</option>
                        <option value="ge">Georgia</option>
                        <option value="de">Germany</option>
                        <option value="gh">Ghana</option>
                        <option value="gi">Gibraltar</option>
                        <option value="gr">Greece</option>
                        <option value="gl">Greenland</option>
                        <option value="gd">Grenada</option>
                        <option value="gp">Guadeloupe</option>
                        <option value="gu">Guam</option>
                        <option value="gt">Guatemala</option>
                        <option value="gn">Guinea</option>
                        <option value="gw">Guinea-Bissau</option>
                        <option value="gy">Guyana</option>
                        <option value="ht">Haiti</option>
                        <option value="hm">Heard Island and McDonald Islands</option>
                        <option value="hn">Honduras</option>
                        <option value="hk">Hong Kong</option>
                        <option value="hu">Hungary</option>
                        <option value="is">Iceland</option>
                        <option value="in">India</option>
                        <option value="id">Indonesia</option>
                        <option value="ir">Iran, Islamic Republic of</option>
                        <option value="iq">Iraq</option>
                        <option value="ie">Ireland</option>
                        <option value="il">Israel</option>
                        <option value="it">Italy</option>
                        <option value="jm">Jamaica</option>
                        <option value="jp">Japan</option>
                        <option value="jo">Jordan</option>
                        <option value="kz">Kazakstan</option>
                        <option value="ke">Kenya</option>
                        <option value="ki">Kiribati</option>
                        <option value="kp">Korea, Democratic Peoples Republic of</option>
                        <option value="kr">Korea, Republic of</option>
                        <option value="kw">Kuwait</option>
                        <option value="kg">Kyrgyzstan</option>
                        <option value="la">Lao Peoples Democratic Republic</option>
                        <option value="lv">Latvia</option>
                        <option value="lb">Lebanon</option>
                        <option value="ls">Lesotho</option>
                        <option value="lr">Liberia</option>
                        <option value="ly">Libyan Arab Jamahiriya</option>
                        <option value="li">Liechtenstein</option>
                        <option value="lt">Lithuania</option>
                        <option value="lu">Luxembourg</option>
                        <option value="mo">Macau</option>
                        <option value="mk">Macedonia</option>
                        <option value="mg">Madagascar</option>
                        <option value="mw">Malawi</option>
                        <option value="my">Malaysia</option>
                        <option value="mv">Maldives</option>
                        <option value="ml">Mali</option>
                        <option value="mt">Malta</option>
                        <option value="mh">Marshall Islands</option>
                        <option value="mq">Martinique</option>
                        <option value="mr">Mauritania</option>
                        <option value="mu">Mauritius</option>
                        <option value="yt">Mayotte</option>
                        <option value="mx">Mexico</option>
                        <option value="fm">Micronesia, Federated States of</option>
                        <option value="md">Moldova, Republic of</option>
                        <option value="mc">Monaco</option>
                        <option value="mn">Mongolia</option>
                        <option value="me">Montenegro</option>
                        <option value="ms">Montserrat</option>
                        <option value="ma">Morocco</option>
                        <option value="mz">Mozambique</option>
                        <option value="mm">Myanmar</option>
                        <option value="na">Namibia</option>
                        <option value="nr">Nauru</option>
                        <option value="np">Nepal</option>
                        <option value="nl">Netherlands</option>
                        <option value="an">Netherlands Antilles</option>
                        <option value="nc">New Caledonia</option>
                        <option value="nz">New Zealand</option>
                        <option value="ni">Nicaragua</option>
                        <option value="ne">Niger</option>
                        <option value="nu">Niue</option>
                        <option value="nf">Norfolk Island</option>
                        <option value="mp">Northern Mariana Islands</option>
                        <option value="no">Norway</option>
                        <option value="om">Oman</option>
                        <option value="pk">Pakistan</option>
                        <option value="pw">Palau</option>
                        <option value="ps">Palestinian Territory, Occupied</option>
                        <option value="pa">Panama</option>
                        <option value="pg">Papua New Guinea</option>
                        <option value="py">Paraguay</option>
                        <option value="pe">Peru</option>
                        <option value="ph">Philippines</option>
                        <option value="pn">Pitcairn</option>
                        <option value="pl">Poland</option>
                        <option value="pt">Portugal</option>
                        <option value="pr">Puerto Rico</option>
                        <option value="qa">Qatar</option>
                        <option value="re">Reunion</option>
                        <option value="ro">Romania</option>
                        <option value="ru">Russian Federation</option>
                        <option value="rw">Rwanda</option>
                        <option value="sh">Saint Helena</option>
                        <option value="kn">Saint Kitts and Nevis</option>
                        <option value="lc">Saint Lucia</option>
                        <option value="pm">Saint Pierre and Miquelon</option>
                        <option value="vc">Saint Vincent and the Grenadines</option>
                        <option value="ws">Samoa</option>
                        <option value="sm">San Marino</option>
                        <option value="st">Sao Tome and Principe</option>
                        <option value="sa">Saudi Arabia</option>
                        <option value="sn">Senegal</option>
                        <option value="rs">Serbia</option>
                        <option value="sc">Seychelles</option>
                        <option value="sl">Sierra Leone</option>
                        <option value="sg">Singapore</option>
                        <option value="sk">Slovakia</option>
                        <option value="si">Slovenia</option>
                        <option value="sb">Solomon Islands</option>
                        <option value="za">South Africa</option>
                        <option value="gs">South Georgia and the South Sandwich Islands</option>
                        <option value="es">Spain</option>
                        <option value="lk">Sri Lanka</option>
                        <option value="sd">Sudan</option>
                        <option value="sr">Suriname</option>
                        <option value="sj">Svalbard and Jan Mayen</option>
                        <option value="sz">Swaziland</option>
                        <option value="se">Sweden</option>
                        <option value="ch">Switzerland</option>
                        <option value="sy">Syrian Arab Republic</option>
                        <option value="tw">Taiwan, Province of China</option>
                        <option value="tj">Tajikistan</option>
                        <option value="tz">Tanzania, United Republic of</option>
                        <option value="th">Thailand</option>
                        <option value="tg">Togo</option>
                        <option value="tk">Tokelau</option>
                        <option value="to">Tonga</option>
                        <option value="tt">Trinidad and Tobago</option>
                        <option value="tn">Tunisia</option>
                        <option value="tr">Turkey</option>
                        <option value="tm">Turkmenistan</option>
                        <option value="tc">Turks and Caicos Islands</option>
                        <option value="tv">Tuvalu</option>
                        <option value="ug">Uganda</option>
                        <option value="ua">Ukraine</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="gb">United Kingdom</option>
                        <option value="uy">Uruguay</option>
                        <option value="us">USA</option>
                        <option value="uz">Uzbekistan</option>
                        <option value="vu">Vanuatu</option>
                        <option value="ve">Venezuela</option>
                        <option value="vn">Viet Nam</option>
                        <option value="vg">Virgin Islands, British</option>
                        <option value="vi">Virgin Islands, U.S.</option>
                        <option value="wf">Wallis and Futuna</option>
                        <option value="eh">Western Sahara</option>
                        <option value="ye">Yemen</option>
                        <option value="zm">Zambia</option>
                        <option value="zw">Zimbabwe</option>
                    </select>
                </li>
                <li class="columns three">
                    <label class="h3">Postal Code <span class="required">*</span></label><input class="width-100" type="text"></li>
            </ul>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button id="step-1-submit" class="btn btn-primary">Continue to Step 2</button>
        </div>

    </div>

    <!-- Step 2: Deposit Confirmation -->
    <div id="step-2" style="display: none;">

        <!-- Modal Header -->
        <div class="modal-header">
            <small class="right required"><strong>*Required Fields</strong></small>
            <h2 class="inline-block h2">New Agent Bank Information </h2><small>Step 2 of 2</small>
        </div>

        <!-- Modal Body -->
        <div class="content-section">
            <ul class="row">
                <li class="columns four">
                    <label class="h3">Bank Name <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns eight">
                    <label class="h3">Account Number <span class="required">*</span></label><input class="width-med" type="text"></li>
            </ul>
            <ul class="row border">
                <li class="columns four">
                    <label class="h3">Bic Number/SWIFT Code <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns eight">
                    <label class="h3">Receiving Bank Information <span class="required">*</span></label>
                    <select class="chzn-select width-150" data-placeholder="Please Select">
                        <option></option>
                        <option>IBAN (EU)</option>
                        <option>ABA (US)</option>
                        <option>Sort Code (UK)</option>
                        <option>BSB (Australia)</option>
                    </select>
                    <input class="width-med margin-left" type="text">
                </li>
            </ul>
            <ul class="row">
                <li class="columns twelve">
                    <label class="h3">Bank Address <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns twelve">
                    <input class="width-med" type="text"></li>
            </ul>
            <ul class="row">
                <li class="columns four">
                    <label class="h3">City <span class="required">*</span></label><input class="width-med" type="text"></li>
                <li class="columns five">
                    <label class="h3">Country <span class="required">*</span></label>
                    <select class="chzn-select width-med" data-placeholder="Please Select">
                        <option></option>
                        <option value="af">Afghanistan</option>
                        <option value="al">Albania</option>
                        <option value="dz">Algeria</option>
                        <option value="as">American Samoa</option>
                        <option value="ad">Andorra</option>
                        <option value="ao">Angola</option>
                        <option value="ai">Anguilla</option>
                        <option value="aq">Antarctica</option>
                        <option value="ag">Antigua and Barbuda</option>
                        <option value="ar">Argentina</option>
                        <option value="am">Armenia</option>
                        <option value="aw">Aruba</option>
                        <option value="au">Australia</option>
                        <option value="at">Austria</option>
                        <option value="az">Azerbaijan</option>
                        <option value="bs">Bahamas</option>
                        <option value="bh">Bahrain</option>
                        <option value="bd">Bangladesh</option>
                        <option value="bb">Barbados</option>
                        <option value="by">Belarus</option>
                        <option value="be">Belgium</option>
                        <option value="bz">Belize</option>
                        <option value="bj">Benin</option>
                        <option value="bm">Bermuda</option>
                        <option value="bt">Bhutan</option>
                        <option value="bo">Bolivia</option>
                        <option value="ba">Bosnia and Herzegovina</option>
                        <option value="bw">Botswana</option>
                        <option value="bv">Bouvet Island</option>
                        <option value="br">Brazil</option>
                        <option value="io">British Indian Ocean Territory</option>
                        <option value="bn">Brunei Darussalam</option>
                        <option value="bg">Bulgaria</option>
                        <option value="bf">Burkina Faso</option>
                        <option value="bi">Burundi</option>
                        <option value="kh">Cambodia</option>
                        <option value="cm">Cameroon</option>
                        <option value="ca">Canada</option>
                        <option value="cv">Cape Verde</option>
                        <option value="ky">Cayman Islands</option>
                        <option value="cf">Central African Republic</option>
                        <option value="td">Chad</option>
                        <option value="cl">Chile</option>
                        <option value="cn">China</option>
                        <option value="cx">Christmas Island</option>
                        <option value="ci">CI - Cote dIvoire</option>
                        <option value="cc">Cocos (Keeling) Islands</option>
                        <option value="co">Colombia</option>
                        <option value="km">Comoros</option>
                        <option value="ck">Cook Islands</option>
                        <option value="cr">Costa Rica</option>
                        <option value="hr">Croatia</option>
                        <option value="cu">Cuba</option>
                        <option value="cy">Cyprus</option>
                        <option value="cz">Czech Republic</option>
                        <option value="dk">Denmark</option>
                        <option value="dj">Djibouti</option>
                        <option value="dm">Dominica</option>
                        <option value="do">Dominican Republic</option>
                        <option value="tp">East Timor</option>
                        <option value="ec">Ecuador</option>
                        <option value="eg">Egypt</option>
                        <option value="sv">El Salvador</option>
                        <option value="gq">Equatorial Guinea</option>
                        <option value="er">Eritrea</option>
                        <option value="ee">Estonia</option>
                        <option value="et">Ethiopia</option>
                        <option value="fk">Falkland Islands (Malvinas)</option>
                        <option value="fo">Faroe Islands</option>
                        <option value="fj">Fiji</option>
                        <option value="fi">Finland</option>
                        <option value="fr">France</option>
                        <option value="fg">French Guiana</option>
                        <option value="pf">French Polynesia</option>
                        <option value="tf">French Southern Territories</option>
                        <option value="ga">Gabon</option>
                        <option value="gm">Gambia</option>
                        <option value="ge">Georgia</option>
                        <option value="de">Germany</option>
                        <option value="gh">Ghana</option>
                        <option value="gi">Gibraltar</option>
                        <option value="gr">Greece</option>
                        <option value="gl">Greenland</option>
                        <option value="gd">Grenada</option>
                        <option value="gp">Guadeloupe</option>
                        <option value="gu">Guam</option>
                        <option value="gt">Guatemala</option>
                        <option value="gn">Guinea</option>
                        <option value="gw">Guinea-Bissau</option>
                        <option value="gy">Guyana</option>
                        <option value="ht">Haiti</option>
                        <option value="hm">Heard Island and McDonald Islands</option>
                        <option value="hn">Honduras</option>
                        <option value="hk">Hong Kong</option>
                        <option value="hu">Hungary</option>
                        <option value="is">Iceland</option>
                        <option value="in">India</option>
                        <option value="id">Indonesia</option>
                        <option value="ir">Iran, Islamic Republic of</option>
                        <option value="iq">Iraq</option>
                        <option value="ie">Ireland</option>
                        <option value="il">Israel</option>
                        <option value="it">Italy</option>
                        <option value="jm">Jamaica</option>
                        <option value="jp">Japan</option>
                        <option value="jo">Jordan</option>
                        <option value="kz">Kazakstan</option>
                        <option value="ke">Kenya</option>
                        <option value="ki">Kiribati</option>
                        <option value="kp">Korea, Democratic Peoples Republic of</option>
                        <option value="kr">Korea, Republic of</option>
                        <option value="kw">Kuwait</option>
                        <option value="kg">Kyrgyzstan</option>
                        <option value="la">Lao Peoples Democratic Republic</option>
                        <option value="lv">Latvia</option>
                        <option value="lb">Lebanon</option>
                        <option value="ls">Lesotho</option>
                        <option value="lr">Liberia</option>
                        <option value="ly">Libyan Arab Jamahiriya</option>
                        <option value="li">Liechtenstein</option>
                        <option value="lt">Lithuania</option>
                        <option value="lu">Luxembourg</option>
                        <option value="mo">Macau</option>
                        <option value="mk">Macedonia</option>
                        <option value="mg">Madagascar</option>
                        <option value="mw">Malawi</option>
                        <option value="my">Malaysia</option>
                        <option value="mv">Maldives</option>
                        <option value="ml">Mali</option>
                        <option value="mt">Malta</option>
                        <option value="mh">Marshall Islands</option>
                        <option value="mq">Martinique</option>
                        <option value="mr">Mauritania</option>
                        <option value="mu">Mauritius</option>
                        <option value="yt">Mayotte</option>
                        <option value="mx">Mexico</option>
                        <option value="fm">Micronesia, Federated States of</option>
                        <option value="md">Moldova, Republic of</option>
                        <option value="mc">Monaco</option>
                        <option value="mn">Mongolia</option>
                        <option value="me">Montenegro</option>
                        <option value="ms">Montserrat</option>
                        <option value="ma">Morocco</option>
                        <option value="mz">Mozambique</option>
                        <option value="mm">Myanmar</option>
                        <option value="na">Namibia</option>
                        <option value="nr">Nauru</option>
                        <option value="np">Nepal</option>
                        <option value="nl">Netherlands</option>
                        <option value="an">Netherlands Antilles</option>
                        <option value="nc">New Caledonia</option>
                        <option value="nz">New Zealand</option>
                        <option value="ni">Nicaragua</option>
                        <option value="ne">Niger</option>
                        <option value="nu">Niue</option>
                        <option value="nf">Norfolk Island</option>
                        <option value="mp">Northern Mariana Islands</option>
                        <option value="no">Norway</option>
                        <option value="om">Oman</option>
                        <option value="pk">Pakistan</option>
                        <option value="pw">Palau</option>
                        <option value="ps">Palestinian Territory, Occupied</option>
                        <option value="pa">Panama</option>
                        <option value="pg">Papua New Guinea</option>
                        <option value="py">Paraguay</option>
                        <option value="pe">Peru</option>
                        <option value="ph">Philippines</option>
                        <option value="pn">Pitcairn</option>
                        <option value="pl">Poland</option>
                        <option value="pt">Portugal</option>
                        <option value="pr">Puerto Rico</option>
                        <option value="qa">Qatar</option>
                        <option value="re">Reunion</option>
                        <option value="ro">Romania</option>
                        <option value="ru">Russian Federation</option>
                        <option value="rw">Rwanda</option>
                        <option value="sh">Saint Helena</option>
                        <option value="kn">Saint Kitts and Nevis</option>
                        <option value="lc">Saint Lucia</option>
                        <option value="pm">Saint Pierre and Miquelon</option>
                        <option value="vc">Saint Vincent and the Grenadines</option>
                        <option value="ws">Samoa</option>
                        <option value="sm">San Marino</option>
                        <option value="st">Sao Tome and Principe</option>
                        <option value="sa">Saudi Arabia</option>
                        <option value="sn">Senegal</option>
                        <option value="rs">Serbia</option>
                        <option value="sc">Seychelles</option>
                        <option value="sl">Sierra Leone</option>
                        <option value="sg">Singapore</option>
                        <option value="sk">Slovakia</option>
                        <option value="si">Slovenia</option>
                        <option value="sb">Solomon Islands</option>
                        <option value="za">South Africa</option>
                        <option value="gs">South Georgia and the South Sandwich Islands</option>
                        <option value="es">Spain</option>
                        <option value="lk">Sri Lanka</option>
                        <option value="sd">Sudan</option>
                        <option value="sr">Suriname</option>
                        <option value="sj">Svalbard and Jan Mayen</option>
                        <option value="sz">Swaziland</option>
                        <option value="se">Sweden</option>
                        <option value="ch">Switzerland</option>
                        <option value="sy">Syrian Arab Republic</option>
                        <option value="tw">Taiwan, Province of China</option>
                        <option value="tj">Tajikistan</option>
                        <option value="tz">Tanzania, United Republic of</option>
                        <option value="th">Thailand</option>
                        <option value="tg">Togo</option>
                        <option value="tk">Tokelau</option>
                        <option value="to">Tonga</option>
                        <option value="tt">Trinidad and Tobago</option>
                        <option value="tn">Tunisia</option>
                        <option value="tr">Turkey</option>
                        <option value="tm">Turkmenistan</option>
                        <option value="tc">Turks and Caicos Islands</option>
                        <option value="tv">Tuvalu</option>
                        <option value="ug">Uganda</option>
                        <option value="ua">Ukraine</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="gb">United Kingdom</option>
                        <option value="uy">Uruguay</option>
                        <option value="us">USA</option>
                        <option value="uz">Uzbekistan</option>
                        <option value="vu">Vanuatu</option>
                        <option value="ve">Venezuela</option>
                        <option value="vn">Viet Nam</option>
                        <option value="vg">Virgin Islands, British</option>
                        <option value="vi">Virgin Islands, U.S.</option>
                        <option value="wf">Wallis and Futuna</option>
                        <option value="eh">Western Sahara</option>
                        <option value="ye">Yemen</option>
                        <option value="zm">Zambia</option>
                        <option value="zw">Zimbabwe</option>
                    </select>
                </li>
                <li class="columns three">
                    <label class="h3">Postal Code <span class="required">*</span></label><input class="width-100" type="text"></li>
            </ul>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary">Add New Agent</button>
        </div>
    </div>

</div>
<!-- END MODAL CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/tip")
    @Scripts.Render("~/bundles/choosen")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liClients').addClass('active');
            $('select').chosen();
            $('.date').datepicker();

            // custom jQuery to hide/show step-by-step sections
            $('#step-1-submit').click(function () {
                $('#step-1').hide();
                $('#step-2').show();
            });

            $("#TableClients").jqGrid({
                datatype: "clientSide",
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                colNames: ['Agent ID', 'First Name', 'Last Name', ''],
                colModel: [
                    { name: 'agent', title: false },
                    { name: 'fname', title: false },
                    { name: 'lname', title: false },
                    { name: 'actions', width: 80, fixed: true, align: 'center', title: false, search: false, sortable: false }
                ],
                data: [
                    {
                        'agent': '<a href="@Url.Action("IBAgentDetails", "Clients")">[agent id]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'actions': '<a class="icon active tip" href="#" title="Disable Agent">Disable Agent</a>'
                    },
                    {
                        'agent': '<a href="@Url.Action("IBAgentDetails", "Clients")">[agent id]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'actions': '<a class="icon active tip" href="#" title="Disable Agent">Disable Agent</a>'
                    },
                    {
                        'agent': '<a href="@Url.Action("IBAgentDetails", "Clients")">[agent id]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'actions': '<a class="icon inactive tip" href="#" title="Enagle Agent">Disable Agent</a>'
                    },
                    {
                        'agent': '<a href="@Url.Action("IBAgentDetails", "Clients")">[agent id]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'actions': '<a class="icon inactive tip" href="#" title="Enable Agent">Disable Agent</a>'
                    },
                    {
                        'agent': '<a href="@Url.Action("IBAgentDetails", "Clients")">[agent id]</a>',
                        'fname': '[first name]',
                        'lname': '[last name]',
                        'actions': '<a class="icon active tip" href="#" title="Disable Agent">Disable Agent</a>'
                    }
                ]
            });
            $("#TableClients").filterToolbar({
                searchOnEnter: true
            });

            $('.tip').tipTip({ defaultPosition: 'top' });

        });//End of ready
    </script>
}
