@model CurrentDesk.BackOffice.Areas.SuperAdmin.Models.Transactions.InternalTransferModel
@{
    ViewBag.Title = "InternalTransfers";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">

            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="transfers"><span class="normal">Transactions :</span> Internal Transfers</h1>
            </div>

            <!-- Broker Forms -->
            <article id="artInternalTransfers">
                <ul class="button-bar">
                    <li><a onclick="resetTransferSettingValues()" class="btn btn-mini" href="#" data-toggle="modal" data-target="#modalSettings" data-backdrop="static"><i class="icon-cog"></i> Settings</a></li>
                    <li><a onclick="resetNewInternalTransferTransactionValues()" class="btn btn-mini" href="#" data-toggle="modal" data-target="#modalNew" data-backdrop="static">New Transfer</a></li>
                </ul>
                <h2 class="inline-block">Internal Transfers</h2>
                <div class="content-section no-border-bottom">
                    <table id="tblInternal">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="fund" href="@Url.Action("Index", "Transactions")"><span class="arrow"></span><strong>Incoming</strong>Funds</a></li>
                <li><a class="withdraw" href="@Url.Action("OutgoingFunds", "Transactions")"><span class="arrow"></span><strong>Outgoing</strong>Funds</a></li>
                <li class="active"><a class="internal" href="@Url.Action("InternalTransfers", "Transactions")"><span class="arrow"></span><strong>Internal</strong>Transfers</a></li>
                <li><a class="conversions" href="@Url.Action("ConversionsRequests", "Transactions")"><span class="arrow"></span><strong>Conversions</strong>Requests</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalNew" class="modal hide fade large">

    <!-- Modal Header -->
    <div class="modal-header">
        <small class="right required"><strong>*Required Fields</strong></small>
        <h2 class="inline-block h2">New Transfer</h2>
    </div>

    <!-- Modal Body -->
    <div class="modal-body content-section" style="max-height: 395px;">
        <ul class="row border">
            <li class="columns six">
                <label class="h3">From Client <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.FromClientUserID, (IEnumerable<SelectListItem>)ViewData["Clients"], "", new { @id = "drpFromClients", @class = "width-250" })
            </li>
            <li class="columns six">
                <label class="h3">Client Accounts <span class="required">*</span></label>
                <select id="drpFromClientAccounts" class="chzn-select width-250" data-placeholder="Please select an account" disabled="">
                    <option></option>
                </select>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">To Client <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.ToClientUserID, (IEnumerable<SelectListItem>)ViewData["Clients"], "", new { @id = "drpToClients", @class = "width-250" })
            </li>
            <li class="columns six">
                <label class="h3">Client Accounts <span class="required">*</span></label>
                <select id="drpToClientAccounts" class="chzn-select width-250" data-placeholder="Please select an account" disabled="">
                    <option></option>
                </select>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Amount <span class="required">*</span></label>
                <input id="txtAmount" class="width-140" type="text" placeholder="enter amount" />
                <span id="spnFromAccCurr"></span>
            </li>
            <li class="columns six">
                <label class="h3">Fee <span class="required">*</span></label>
                <input id="txtFee" class="width-140" type="text" value="0.00" />
            </li>
        </ul>
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Transaction Notes</label>
                <textarea id="txtNewNotes" class="width-full" style="height: 60px;"></textarea>
            </li>
        </ul>
    </div>
    <div class="content-section">
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Enter Password <span class="required">*</span></label>
                <input id="txtNewTranPassword" class=" width-150" type="password" /><small class="margin-left">You must enter your password to submit this request.</small>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" onclick="createNewTransaction(this)">Submit</button>
    </div>
</div>
<!-- END MODAL CONTENT SECTION -->


<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalSettings" class="modal hide fade medium">

    <!-- Modal Header -->
    <div class="modal-header">
        <small class="right required"><strong>*Required Fields</strong></small>
        <h2 class="inline-block h2">Settings</h2>
    </div>

    <!-- Modal Body -->
    <div class="content-section">
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Transfer Fee <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.TransferCurrencyID, (IEnumerable<SelectListItem>)ViewData["Currency"], "", new { @id = "drpSettingCurrency", @class = "width-150" })
            </li>
            <li class="columns six">
                <input id="txtTransferFee" class="width-140 input-margin" type="text" placeholder="enter amount" />
            </li>
        </ul>
        <ul class="row border">
            <a class="icn-sm help tip" href="#" title="You can set a maximum immediate approval amount by selecting the LIMITED option and entering an amount."></a>
            <li class="columns six">
                <label class="h3">Approval Options <span class="required">*</span></label>
                @Html.DropDownListFor(model => model.ApprovalOptionID, (IEnumerable<SelectListItem>)ViewData["Approval"], "", new { @id = "drpApprovalOption", @class = "width-150" })
            </li>
            <li class="columns six">
                <input id="txtLimitedAmt" class="width-140 input-margin" type="text" placeholder="enter amount" disabled="" />
            </li>
        </ul>
        <ul class="row">
            <a class="icn-sm help tip" href="#" title="Content unavailable"></a>
            <li class="columns twelve">
                <label class="h3">Minimum Margin Restriction <span class="required">*</span></label>
                <input id="txtMarginRestriction" class="width-150" type="text" placeholder="enter margin restriction" /> %
            </li>
        </ul>
    </div>
    <div class="content-section">
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Enter Password <span class="required">*</span></label>
                <input id="txtSettingPassword" class=" width-150" type="password" /><small class="margin-left">Enter password to submit request.</small>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button onclick="saveTransferSettings()" class="btn btn-primary">Save</button>
    </div>
</div>
<!-- END MODAL CONTENT SECTION -->


<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalApprove" class="modal hide fade medium">

    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="inline-block h2">Approve Transfer</h2>
    </div>

    <!-- Modal Body -->
    <div class="content-section">
        <ul class="row border">
            <li class="columns six">From</li>
            <li class="columns six text-right"><span id="spnFromClientName"></span><br>
                <span id="spnFromClientAccount"></span></li>
        </ul>
        <ul class="row border">
            <li class="columns six">To</li>
            <li class="columns six text-right"><span id="spnToClientName"></span><br>
                <span id="spnToClientAccount"></span></li>
        </ul>
        <ul class="row border">
            <li class="columns six">Amount</li>
            <li class="columns six text-right"><span id="spnAmount"></span></li>
            <li class="columns six">Fee</li>
            <li class="columns six text-right"><span id="spnFee"></span></li>
        </ul>
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Transaction Notes</label>
                <textarea id="txtAppvNotes" class="width-full" style="height: 40px;"></textarea>
            </li>
        </ul>
    </div>
    <div class="content-section">
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Enter Password <span class="required">*</span></label>
                <input id="txtAppvPassword" class=" width-150" type="password" /><small class="margin-left">Enter password to submit request.</small>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button id="btnApproveTransaction" class="btn btn-primary">Approve</button>
    </div>
</div>
<!-- END MODAL CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/choosen")
    @Scripts.Render("~/bundles/tip")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liTransactions').addClass('active');
            $('#drpFromClients, #drpToClients').attr('data-placeholder', 'Please select a client');
            $('select').chosen();

            $("#tblInternal").jqGrid({
                url: 'GetAllInternalTransferRequest',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    cell: "cell",
                    id: "id",
                    userdata: "userdata",
                },
                datatype: "json",
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                sortable: true,
                loadonce: true,
                colNames: ['Date', 'Trans ID', 'From', 'CUR', 'Amount', 'Fee', 'To', 'Labels', '', 'ClientName', 'ToClientName'],
                colModel: [
                    { name: 'TransactionDate', width: 100, fixed: true, title: false },
                    { name: 'PK_TransactionID', title: false },
                    {
                        name: 'AccountNumber', width: 130, fixed: true, title: false, formatter: function (cellValue, options, rowObject) {
                            return "<a href='#'>" + cellValue + "</a><br>" + rowObject["ClientName"];
                        }
                    },
                    { name: 'Currency', width: 60, fixed: true, align: 'center', title: false },
                    {
                        name: 'TransactionAmount', width: 115, fixed: true, title: false, align: 'right', formatter: function (cellValue, options, rowObject) {
                            return "<input id='txtTranAmt" + rowObject["PK_TransactionID"] + "' class='width-80 text-right' type='text' value='" + cellValue + "'>";
                        }
                    },
                    {
                        name: 'TransactionFee', width: 80, fixed: true, align: 'right', title: false, formatter: function (cellValue, options, rowObject) {
                            return "<input id='txtFeeAmt" + rowObject["PK_TransactionID"] + "' class='width-45 text-right' type='text' value='" + cellValue + "'>";
                        }
                    },
                    {
                        name: 'ToAccount', width: 130, fixed: true, title: false, formatter: function (cellValue, options, rowObject) {
                            return "<a href='#'>" + cellValue + "</a><br>" + rowObject["ToClientName"];
                        }
                    },
                    { name: 'labels', title: false, sortable: false },
                    { name: 'Actions', width: 105, fixed: true, align: 'center', title: false, sortable: false },
                    { name: 'ClientName', hidden: true },
                    { name: 'ToClientName', hidden: true }
                ],
                gridComplete: function () {
                    //Display tooltip
                    $('.tip').tipTip({ defaultPosition: 'top' });

                    //Open modal approve
                    $('button[data-modal="modalApprove"]').click(function (e) {
                        e.preventDefault();
                    });
                }
            });

            $('#drpApprovalOption').trigger('change');

        });//End of ready

        //Function to delete a transaction
        function deleteTransaction(transactionID) {
            if (window.confirm("Are you sure you want to delete this transaction?")) {
                $('#loading').show();

                var value = {
                    "transactionID": transactionID
                }

                //Post request to delete a transaction
                $.post("@Url.Action("DeleteTransaction", "Transactions")", value, function (data) {
                    if (data) {
                        $('#loading').hide();
                        $("#tblInternal").setGridParam({ datatype: "json" }).trigger('reloadGrid');
                    }
                    else {
                        $('#loading').hide();
                        $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Some error occurred!</div>');
                    }
                });
            }
        }

        //This function opens modal approve dialog with all required data
        function showModalApprove(pkTransactionID) {
            var regNumeric = /(?:^\d{1,3}(?:,?\d{3})*(?:\.\d{2})?$)/;

            //If valid amounts are entered
            if ($('#txtTranAmt' + pkTransactionID).val() != '' && regNumeric.test($('#txtTranAmt' + pkTransactionID).val()) && $('#txtFeeAmt' + pkTransactionID).val() != '' && regNumeric.test($('#txtFeeAmt' + pkTransactionID).val())) {
                //Check size of amount and fee
                if (checkAmountSize($('#txtTranAmt' + pkTransactionID)) && checkAmountSize($('#txtFeeAmt' + pkTransactionID))) {
                    $('#loading').show();

                    var value = {
                        "pkTransactionID": pkTransactionID
                    }

                    //Fetch transaction details
                    $.getJSON("@Url.Action("GetInternalTransferDetails", "Transactions")", value, function (data) {
                        if (data != null) {
                            $('#spnFromClientName').text(data.ClientName);
                            $('#spnFromClientAccount').text(data.AccountNumber);
                            $('#spnToClientName').text(data.ToClientName);
                            $('#spnToClientAccount').text(data.ToAccount);
                            $('#spnAmount').text(data.Currency + " " + $('#txtTranAmt' + data.PK_TransactionID).val());
                            $('#spnFee').text(data.Currency + " " + $('#txtFeeAmt' + data.PK_TransactionID).val());
                            $('#txtAppvNotes').text(data.Notes);
                            $('#btnApproveTransaction').attr('data-pkTransactionId', data.PK_TransactionID);
                            $('#txtAppvPassword').val('');

                            $('#loading').hide();
                            $('#modalApprove').modal();
                        }
                        else {
                            $('#loading').hide();
                            $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Some error occurred!</div>');
                        }
                    });
                }
                else {
                    $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Amount or Fee is too large!</div>');
                }
            }
            else {
                $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Enter correct transaction and fee amount!</div>');
            }
        }

        //Approve button click event to approve a transaction
        $('#btnApproveTransaction').click(function () {
            $('#btnApproveTransaction').attr('disabled', 'disabled');
            $('#loading').show();

            var pkTransactionID = $(this).attr('data-pkTransactionId');

            var value = {
                "PK_TransactionID": pkTransactionID,
                "TransactionAmount": $('#txtTranAmt' + pkTransactionID).val().split(',').join(''),
                "FeeAmount": $('#txtFeeAmt' + pkTransactionID).val().split(',').join(''),
                "Notes": $('#txtAppvNotes').val(),
                "ClientName": $('#txtAppvPassword').val()
            }

            $.post("@Url.Action("ApproveInternalTransferTransaction", "Transactions")", value, function (data) {
                if (data.status) {
                    $('#loading').hide();
                    $('#modalApprove').modal('hide');
                    $('#btnApproveTransaction').removeAttr('disabled');
                    $("#tblInternal").setGridParam({ datatype: "json" }).trigger('reloadGrid');
                }
                else {
                    $('#btnApproveTransaction').removeAttr('disabled');
                    $('#loading').hide();
                    $('#modalApprove').modal('hide');
                    $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>' + data.message + '</div>');
                }
            });
        });

        //From Client dropdown change event to load client all accs
        $('#drpFromClients').change(function () {
            $('#loading').show();

            //Remove previous options
            $("select#drpFromClientAccounts option").each(function () {
                $(this).remove();
            });
            $("select#drpFromClientAccounts optgroup").each(function () {
                $(this).remove();
            });
            $('#drpFromClientAccounts').append('<option></option>');

            var values = {
                "pkClientUserID": $('#drpFromClients').val()
            };

            //Get request to fetch all accs of client
            $.getJSON("@Url.Action("GetAllUserAccountsWithBalance", "Transactions")", values, function (data) {
                if (data) {
                    $.each(data, function (key, value) {
                        $('#drpFromClientAccounts').append('<optgroup id="optGrp' + key + '" label="' + value.TradingCurrency + ' Accounts">');
                        $.each(value.TradingAccountList, function(keyInner, valueInner) {
                            $('#optGrp' + key).append('<option value="' + valueInner.LandingAccount + '/' + valueInner.LandingCurrency + '">' + valueInner.LandingAccount + ' - ' + valueInner.LandingBalance + '</option>');
                        });
                    });
                    $('#drpFromClientAccounts').removeAttr('disabled');
                    $("#drpFromClientAccounts").trigger("liszt:updated");

                    $('#loading').hide();
                }
                else {
                    $('#loading').hide();
                }
            });
        });

        //To Client dropdown change event to load client all accs
        $('#drpToClients').change(function () {
            $('#loading').show();

            //Remove previous options
            $("select#drpToClientAccounts option").each(function () {
                $(this).remove();
            });
            $("select#drpToClientAccounts optgroup").each(function () {
                $(this).remove();
            });
            $('#drpToClientAccounts').append('<option></option>');

            var values = {
                "pkClientUserID": $('#drpToClients').val()
            };

            //Get request to fetch all accs of client
            $.getJSON("@Url.Action("GetAllUserAccountsWithBalance", "Transactions")", values, function (data) {
                if (data) {
                    $.each(data, function (key, value) {
                        $('#drpToClientAccounts').append('<optgroup id="opt' + key + '" label="' + value.TradingCurrency + ' Accounts">');
                        $.each(value.TradingAccountList, function (keyInner, valueInner) {
                            $('#opt' + key).append('<option value="' + valueInner.LandingAccount + '/' + valueInner.LandingCurrency + '">' + valueInner.LandingAccount + ' - ' + valueInner.LandingBalance + '</option>');
                        });
                    });
                    $('#drpToClientAccounts').removeAttr('disabled');
                    $("#drpToClientAccounts").trigger("liszt:updated");

                    $('#loading').hide();
                }
                else {
                    $('#loading').hide();
                }
            });
        });

        //FromClientAccounts drp change event to display selected account currency symbol
        $('#drpFromClientAccounts').change(function () {
            $('#spnFromAccCurr').text($(this).val().split('/')[1]);
        });

        //Function to create new internal transfer transaction for client
        function createNewTransaction(btnCntrl) {
            if (validateNewTransactionValues()) {
                if ($('#drpFromClientAccounts').val() != $('#drpToClientAccounts').val() && $('#drpFromClientAccounts').val().split('/')[1] == $('#drpToClientAccounts').val().split('/')[1]) {
                    //Check size of amount and fee
                    if (checkAmountSize($('#txtAmount')) && checkAmountSize($('#txtFee'))) {
                        $(btnCntrl).attr('disabled', 'disabled');
                        $('#loading').show();

                        var values = {
                            "FromClientUserID": $('#drpFromClients').val(),
                            "ToClientUserID": $('#drpToClients').val(),
                            "FromClientAccount": $('#drpFromClientAccounts').val().split('/')[0],
                            "ToClientAccount": $('#drpToClientAccounts').val().split('/')[0],
                            "TransactionAmount": $('#txtAmount').val(),
                            "TransactionFee": $('#txtFee').val(),
                            "Notes": $('#txtNewNotes').val(),
                            "FromClientName": $('#drpFromClients option:selected').html().split('-')[0].substring(0, $('#drpFromClients option:selected').html().split('-')[0].length - 1),
                            "ToClientName": $('#drpToClients option:selected').html().split('-')[0].substring(0, $('#drpToClients option:selected').html().split('-')[0].length - 1),
                            "Currency": $('#drpFromClientAccounts').val().split('/')[1],
                            "AdminPassword": $('#txtNewTranPassword').val()
                        }

                        $.post("@Url.Action("CreateNewInternalTransferTransaction", "Transactions")", values, function (data) {
                            if (data.status) {
                                $('#loading').hide();
                                $(btnCntrl).removeAttr('disabled');
                                $('#modalNew').modal('hide');
                                $("#tblInternal").setGridParam({ datatype: "json" }).trigger('reloadGrid');
                            }
                            else {
                                $('#loading').hide();
                                $(btnCntrl).removeAttr('disabled');
                                $('#modalNew').modal('hide');
                                $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>' + data.message + '</div>');
                            }
                        });
                    }
                    else {
                        alert('Amount or Fee is too large!');
                    }
                }
                else {
                    alert('Enter same currency unidentical accounts!');
                }
            }
        }

        //Function to validate new transaction fields
        function validateNewTransactionValues() {
            $('.requiredError').remove();
            var regMoney = /(?:^\d{1,3}(?:,?\d{3})*(?:\.\d{2})?$)/;
            var valid = true;

            if ($('#txtAmount').val() == '' || !regMoney.test($('#txtAmount').val())) {
                $('#txtAmount').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#txtFee').val() == '' || !regMoney.test($('#txtFee').val())) {
                $('#txtFee').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#txtNewTranPassword').val() == '') {
                $('#txtNewTranPassword').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpFromClients').val() == '') {
                $('#drpFromClients_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpToClients').val() == '') {
                $('#drpToClients_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpFromClientAccounts').val() == '') {
                $('#drpFromClientAccounts_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpToClientAccounts').val() == '') {
                $('#drpToClientAccounts_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            return valid;
        }

        //Change event of approval options dropdown
        $('#drpApprovalOption').change(function () {
            if ($(this).val() == 3) {
                $('#txtLimitedAmt').removeAttr('disabled');
            }
            else {
                $('#txtLimitedAmt').attr('disabled', 'disabled');
                $('#txtLimitedAmt').val('');
            }
        });

        //Function to save transfer settings
        function saveTransferSettings() {
            if (validateSettingValues()) {
                $('#loading').show();

                var values = {
                    "currencyID": $('#drpSettingCurrency').val(),
                    "transferFeeAmt": $('#txtTransferFee').val(),
                    "approvalOption": $('#drpApprovalOption').val(),
                    "limitedAmt": $('#txtLimitedAmt').val(),
                    "marginRestriction": $('#txtMarginRestriction').val(),
                    "adminPassword": $('#txtSettingPassword').val()
                }

                //Post request to save settings
                $.post("@Url.Action("SaveInternalTransferSettings", "Transactions")", values, function (data) {
                    if (data.status) {
                        $('#loading').hide();
                        $('#modalSettings').modal('hide');
                        $('#artInternalTransfers').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Settings saved successfully.</div>');
                        window.location.reload();
                    }
                    else {
                        $('#loading').hide();
                        $('#modalSettings').modal('hide');
                        $('#artInternalTransfers').prepend('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>' + data.message + '</div>');
                    }
                });
            }
        }

        //Function to validate transfer settings values and display error
        function validateSettingValues() {
            $('.requiredError').remove();
            var regMoney = /(?:^\d{1,3}(?:,?\d{3})*(?:\.\d{2})?$)/;
            var regFloat = /^(?:[1-9]\d*|0)?(?:\.\d+)?$/;
            var valid = true;

            if ($('#drpSettingCurrency').val() == '') {
                $('#drpSettingCurrency_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#txtTransferFee').val() == '' || !regMoney.test($('#txtTransferFee').val())) {
                $('#txtTransferFee').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpApprovalOption').val() == '') {
                $('#drpApprovalOption_chzn').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#txtMarginRestriction').val() == '' || !regFloat.test($('#txtMarginRestriction').val())) {
                $('#txtMarginRestriction').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#drpApprovalOption').val() == 3 && ($('#txtLimitedAmt').val() == '' || !regMoney.test($('#txtLimitedAmt').val()))) {
                $('#txtLimitedAmt').after('<span class="requiredError">*</span>');
                valid = false;
            }
            if ($('#txtSettingPassword').val() == '') {
                $('#txtSettingPassword').after('<span class="requiredError">*</span>');
                valid = false;
            }

            return valid;
        }

        //Function to reset transfer settings values
        function resetTransferSettingValues() {
            $('#drpSettingCurrency').val(@Model.TransferCurrencyID);
            $("#drpSettingCurrency").trigger("liszt:updated");
            $('#txtTransferFee').val(@Model.TransferFee);
            $('#drpApprovalOption').val(@Model.ApprovalOptionID);
            $("#drpApprovalOption").trigger("liszt:updated");
            $('#txtLimitedAmt').val(@Model.LimitedAmount);
            $('#txtMarginRestriction').val(@Model.MarginRestriction);
            $('#txtSettingPassword').val('');
        }

        //Function to reset new internal transfer transaction values
        function resetNewInternalTransferTransactionValues() {
            $('#txtAmount').val('');
            $('#txtFee').val('0.00');
            $('#txtNewTranPassword').val('');
            $('#drpFromClients').val('');
            $("#drpFromClients").trigger("liszt:updated");
            $('#drpToClients').val('');
            $("#drpToClients").trigger("liszt:updated");
            $('#drpFromClientAccounts').val('');
            $("#drpFromClientAccounts").trigger("liszt:updated");
            $('#drpToClientAccounts').val('');
            $("#drpToClientAccounts").trigger("liszt:updated");
            $('#txtNewNotes').val('');
        }

        //Function to check amount size(max 10 digits)
        function checkAmountSize(cntrl) {
            if ($(cntrl).val().split(',').join('').split('.')[0].length <= 10) {
                return true;
            }
            return false;
        }

    </script>
}
