@{
    ViewBag.Title = "UserRoleSettings";
    Layout = "~/Areas/SuperAdmin/Views/Shared/SuperAdminMaster.cshtml.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">

            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="settings"><span class="normal">Settings :</span> User Role Settings</h1>
            </div>

            <!-- User Roles -->
            <article>
                <ul class="button-bar">
                    <li><a class="btn btn-mini" href="#" data-toggle="modal" data-target="#modalNewUser" data-backdrop="static">Add New User</a></li>
                </ul>
                <h2 class="inline-block">Admin Users</h2>
                <div class="content-section no-border-bottom">
                    <table id="tableDocs">
                        <tr>
                            <td />
                        </tr>
                    </table>
                </div>
            </article>

        </div>

        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>

    </div>

    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="platforms" href="@Url.Action("Index", "Settings")"><span class="arrow"></span><strong>Platform</strong>Management</a></li>
                <li class="active"><a class="roles" href="@Url.Action("UserRoleSettings", "Settings")"><span class="arrow"></span><strong>User Role</strong>Settings</a></li>
                <li><a class="agreements single" href="@Url.Action("ClientAgreement", "Settings")"><span class="arrow"></span><strong>Client Agreements</strong></a></li>
                <li><a class="funding" href="@Url.Action("FundingSourceManagement", "Settings")"><span class="arrow"></span><strong>Funding Source</strong>Management</a></li>
                <li><a class="forms" href="@Url.Action("BrokerFormsManagement", "Settings")"><span class="arrow"></span><strong>Broker Forms</strong>Management</a></li>
                <li><a class="documents" href="@Url.Action("KYCDocManagement", "Settings")"><span class="arrow"></span><strong>KYC Document</strong>Management</a></li>
                <li><a class="fees" href="@Url.Action("FeeGroupManagement", "Settings")"><span class="arrow"></span><strong>Fee Group</strong>Management</a></li>
                <li><a class="symbols" href="@Url.Action("SymbolManagement", "Settings")"><span class="arrow"></span><strong>Symbol</strong>Management</a></li>
                <li><a class="settings single" href="@Url.Action("GlobalSettings", "Settings")"><span class="arrow"></span><strong>Global Settings</strong></a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>

</div>
<!-- END CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalNewUser" class="modal hide fade large">

    <!-- Modal Header -->
    <div class="modal-header">
        <small class="right required"><strong>*Required Fields</strong></small>
        <h2 class="inline-block h2">Add New User</h2>
    </div>

    <div class="content-section">
        <ul class="row border">
            <li class="columns four">
                <label class="h3">First Name <span class="required">*</span></label>
                <input class=" width-150" type="text">
            </li>
            <li class="columns four">
                <label class="h3">Last Name <span class="required">*</span></label>
                <input class=" width-150" type="text">
            </li>
            <li class="columns four">
                <label class="h3">Title</label>
                <input class=" width-150" type="text">
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Email <span class="required">*</span></label>
                <input class=" width-200" type="text">
            </li>
            <li class="columns six">
                <label class="h3">Password <span class="required">*</span></label>
                <input class=" width-100" type="password">
                <button class="btn btn-small">Generate Password</button>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Assign Role <span class="required">*</span></label>
                <select class="chzn-select width-200">
                    <option></option>
                    <option>Super Admin</option>
                    <option>Support</option>
                    <option>Sales</option>
                    <option>Treasury</option>
                </select>
            </li>
            <li class="columns six">
                <label class="h3">Assign Team <span class="required">*</span></label>
                <select class="chzn-select width-200" disabled="">
                    <option></option>
                </select>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns twelve">
                <label class="h3">Permissions</label>
            </li>
        </ul>
    </div>
    <div class="content-section">
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Enter Password <span class="required">*</span></label>
                <input class=" width-150" type="password"><small class="margin-left">You must enter your password to submit this request.</small>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary">Add User</button>
    </div>

</div>
<!-- END MODAL CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalEditUser" class="modal hide fade large">

    <!-- Modal Header -->
    <div class="modal-header">
        <small class="right required"><strong>*Required Fields</strong></small>
        <h2 class="inline-block h2">Edit User</h2>
    </div>

    <div class="content-section">
        <ul class="row border">
            <li class="columns four">
                <label class="h3">First Name <span class="required">*</span></label>
                <input class=" width-150" type="text" value="[first name]">
            </li>
            <li class="columns four">
                <label class="h3">Last Name <span class="required">*</span></label>
                <input class=" width-150" type="text" value="[last name]">
            </li>
            <li class="columns four">
                <label class="h3">Title</label>
                <input class=" width-150" type="text" value="[title]">
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Email <span class="required">*</span></label>
                <input class=" width-200" type="text" value="[email address]">
            </li>
            <li class="columns six">
                <label class="h3">Password <span class="required">*</span></label>
                <input class=" width-100" type="password" value="12345678">
                <button class="btn btn-small">Generate Password</button>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns six">
                <label class="h3">Assign Role <span class="required">*</span></label>
                <select class="chzn-select width-200">
                    <option></option>
                    <option>Super Admin</option>
                    <option>Support</option>
                    <option selected="">Sales</option>
                    <option>Treasury</option>
                </select>
            </li>
            <li class="columns six">
                <label class="h3">Assign Team <span class="required">*</span></label>
                <select class="chzn-select width-200">
                    <option></option>
                    <option selected="">Europe Sales Team</option>
                </select>
            </li>
        </ul>
        <ul class="row border">
            <li class="columns twelve">
                <label class="h3">Permissions</label>
            </li>
        </ul>
    </div>
    <div class="content-section">
        <ul class="row">
            <li class="columns twelve">
                <label class="h3">Enter Password <span class="required">*</span></label>
                <input class=" width-150" type="password"><small class="margin-left">You must enter your password to submit this request.</small>
            </li>
        </ul>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary">Save Changes</button>
    </div>

</div>
<!-- END MODAL CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/tip")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/choosen")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liSettings').addClass('active');
            $('select').chosen();

            $("#tableDocs").jqGrid({
                datatype: "clientSide",
                gridview: true,
                altRows: true,
                autowidth: true,
                height: 'auto',
                colNames: ['Admin Name', 'Title', 'Employee ID', 'Email Address', 'Role', ''],
                colModel: [
                    { name: 'name', title: false },
                    { name: 'title', title: false },
                    { name: 'id', title: false },
                    { name: 'email', title: false },
                    { name: 'role', width: 120, fixed: true, title: false },
                    { name: 'actions', width: 80, fixed: true, align: 'center', title: false, sortable: false, search: false }
                ],
                data: [
                    {
                        'name': '[user name] <button class="btn btn-mini margin-left"><i class="icon-share"></i> Simulate User</button>',
                        'title': '[title]',
                        'id': '[employee id]',
                        'email': '[email address]',
                        'role': 'Super Admin',
                        'actions': '<input class="icon active tip" title="Disable" type="button" value="Disable"><input type="button" class="icon view-edit tip" data-modal="modalEdit" title="View/Edit">'
                    },
                    {
                        'name': '[user name] <button class="btn btn-mini margin-left"><i class="icon-share"></i> Simulate User</button>',
                        'title': '[title]',
                        'id': '[employee id]',
                        'email': '[email address]',
                        'role': 'Support',
                        'actions': '<input class="icon active tip" title="Disable" type="button" value="Disable"><input type="button" class="icon view-edit tip" data-modal="modalEdit" title="View/Edit">'
                    },
                    {
                        'name': '[user name] <button class="btn btn-mini margin-left"><i class="icon-share"></i> Simulate User</button>',
                        'title': '[title]',
                        'id': '[employee id]',
                        'email': '[email address]',
                        'role': 'Sales',
                        'actions': '<input class="icon active tip" title="Disable" type="button" value="Disable"><input type="button" class="icon view-edit tip" data-modal="modalEdit" title="View/Edit">'
                    },
                    {
                        'name': '[user name] <button class="btn btn-mini margin-left"><i class="icon-share"></i> Simulate User</button>',
                        'title': '[title]',
                        'id': '[employee id]',
                        'email': '[email address]',
                        'role': 'Treasury',
                        'actions': '<input class="icon inactive tip" title="Enable" type="button" value="Disable"><input type="button" class="icon view-edit tip" data-modal="modalEdit" title="View/Edit">'
                    }
                ]
            });

            $('.tip').tipTip({ defaultPosition: 'top' });

            $('input[data-modal="modalEdit"]').click(function (e) {
                e.preventDefault();
                $('#modalEditUser').modal();
            });

        });//End of ready
    </script>
}
