@model CurrentDesk.BackOffice.Models.JointAccountReviewModel
@using CurrentDesk.Common
@{
    ViewBag.Title = "SecondaryHolder";
    Layout = "~/Areas/IntroducingBroker/Views/Shared/IntroducingBrokerMaster.cshtml";
}

<div class="content-wrapper">

    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table">

        <!-- Left column content goes here. -->
        <div class="content-left">
            <!-- Page Title Bar -->
            <div class="page-title">
                <h1 class="profile"><span class="normal">My Profile :</span> Secondary Holder Information</h1>
            </div>
            <div id="divSecondaryInfo">
                <!-- Secondary Holder Section -->
                <article>
                    <h2>Secondary Holder</h2>
                    <div class="content-section">
                        <ul class="row">
                            <li class="columns two">
                                <h3>Title</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderTitle)</li>
                            <li class="columns three">
                                <h3>First Name</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderFirstName)</li>
                            <li class="columns three">
                                <h3>Middle Name</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderMiddleName) </li>
                            <li class="columns four">
                                <h3>Last Name</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderLastName)</li>
                        </ul>
                        <ul class="row border">
                            <li class="columns five">
                                <h3>Date of Birth</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderDobDay)/@Html.DisplayFor(model => model.SecondaryAccountHolderDobMonth)/@Html.DisplayFor(model => model.SecondaryAccountHolderDobYear)</li>
                            <li class="columns seven">
                                <h3>Gender</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderGender)</li>
                        </ul>
                        <ul class="row">
                            <li class="columns five">
                                <h3>Citizenship</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderCitizenship)</li>
                            <li class="columns seven">
                                <h3>ID Information</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderIdInfo): @Html.DisplayFor(model => model.SecondaryAccountHolderIdNumber)</li>
                        </ul>
                        <ul class="row">
                            <li class="columns twelve">
                                <h3>Country of Residence</h3>
                                @Html.DisplayFor(model => model.SecondaryAccountHolderResidenceCountry)</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <!-- This <div> is for 2 column layouts as a container for the right column background. -->
        <div class="bg-right"></div>
    </div>
    <!-- Right Column content goes here. -->
    <aside class="content-aside">
        <!-- Sub Navigation Section -->
        <nav class="sub-nav">
            <ul>
                <!-- Add the .active class to the <li> that needs active styling. -->
                <li><a class="primary" href="@Url.Action("PrimaryHolderInformation", "Profile")"><span class="arrow"></span><strong>Primary Holder</strong>Information</a></li>
                <li class="active"><a class="primary" href="@Url.Action("SecondaryHolderInformation", "Profile")"><span class="arrow"></span><strong>Secondary Holder</strong>Information</a></li>
                <li><a class="banking" href="@Url.Action("Banking", "Profile")"><span class="arrow"></span><strong>Banking</strong>Information</a></li>
                <li><a class="fees" href="@Url.Action("FeeStructure", "Profile")"><span class="arrow"></span><strong>Fee Group</strong>Management</a></li>
                <li><a class="managers" href="#"><span class="arrow"></span><strong>Asset Manager</strong>Relationships</a></li>
                <li><a class="tools" href="@Url.Action("Marketing", "Profile")"><span class="arrow"></span><strong>Marketing</strong>Tools</a></li>
                <!-- The last <li> needs the class .last. This is only here for styling purposes. No links should be added inside. -->
                <li class="last"></li>
            </ul>
        </nav>
    </aside>
</div>

@section Scripts {
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#clientProfile').addClass('active');
        });//End of ready
    </script>
}