@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/IntroducingBroker/Views/Shared/IntroducingBrokerMaster.cshtml";
}

<!-- BEGIN CONTENT SECTION -->
<div class="content-wrapper">
    <!-- This <div> is for 2 column layouts and contains the left column content and a container for the right column background. -->
    <div class="content-table1">

        <!-- Page Title Bar -->
        <div class="page-title">
            <h1 class="inbox">Inbox</h1>
        </div>

        <!-- Padding div needed for single column layouts -->
        <div class="padding-footer">

            <!-- Inbox Section -->
            <article id="artInbox" class="no-margin">
                <div class="right">
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modalNewMessage">New Message</button>
                </div>

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
                    <li><a href="#sent" data-toggle="tab">Sent</a></li>
                    <li><a href="#archive" data-toggle="tab">Archive</a></li>
                </ul>

                <div class="tab-content">

                    <!-- Inbox Tab -->
                    <div class="tab-pane active" id="inbox">
                        <div class="content-section clearfix">

                            <!-- Message List Section -->
                            <div class="msg-list">
                                <table id="tblInbox">
                                    <tr>
                                        <td />
                                    </tr>
                                </table>
                                <div id="pager-0"></div>
                            </div>

                            <!-- Message Content Section -->
                            <div class="msg-content">
                                <ul class="header-box">
                                    <li><a class="msg-delete" href="#" onclick="deleteMessage('inbox')">Delete</a></li>
                                    <li><a class="msg-archive" href="#" onclick="archiveMessage('inbox')">Archive</a></li>
                                    <li><a class="msg-reply" href="#" data-toggle="modal" data-target="#modalReplyMessage">Reply</a></li>
                                </ul>
                                <div class="msg-header">
                                    <h4><span id="spnInMsgSub">[message subject]</span></h4>
                                    <p>
                                        From: <span id="spnInFromName">[from name]</span><br />
                                        To: <span id="spnInToName">@ViewData["UserDisplayName"]</span>
                                    </p>
                                    <p class="date-time">
                                        <span id="spnInLongDate">Wednesday, April 10, 2013 9:04 AM</span>
                                    </p>
                                </div>
                                <div class="msg-body">
                                    <span id="spnInMsgBody">
                                        <p>Hello User,</p>
                                        <p>This is a sample message.</p>
                                        <p>
                                            Thanks<br />
                                            User
                                        </p>
                                    </span>
                                </div>
                                <div style="display: none;">
                                    <span id="spnInMsgPK"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row button-box">
                            <div class="columns twelve">
                                <input id="btnInboxDelete" class="button" type="button" value="Delete Selected" disabled="" /><input id="btnInboxArchive" class="button" type="button" value="Archive Selected" disabled="" />
                            </div>
                        </div>
                    </div>

                    <!-- Sent Tab -->
                    <div class="tab-pane" id="sent">
                        <div class="content-section clearfix">

                            <!-- Message List Section -->
                            <div class="msg-list">
                                <table id="TableSent">
                                    <tr>
                                        <td />
                                    </tr>
                                </table>
                                <div id="pager-1"></div>
                            </div>

                            <!-- Message Content Section -->
                            <div class="msg-content">
                                <ul class="header-box">
                                    <li><a class="msg-delete" href="#">Delete</a></li>
                                    <li><a class="msg-archive" href="#">Archive</a></li>
                                    <li><a class="msg-reply" href="#" data-toggle="modal" data-target="#modalReplyMessage">Reply</a></li>
                                </ul>
                                <div class="msg-header">
                                    <h4>[message subject]</h4>
                                    <p>
                                        From: [from name]<br>
                                        To: [to name]
                                    </p>
                                    <p class="date-time">
                                        Wednesday<br>
                                        April 10, 2013 9:04 AM
                                    </p>
                                </div>
                                <div class="msg-body">
                                    <p>Hello Travis,</p>
                                    <p>I have a message for you.</p>
                                    <p>
                                        Thanks<br>
                                        Micah
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="row button-box">
                            <div class="columns twelve">
                                <input class="button" type="button" value="Delete Selected" disabled=""><input class="button" type="button" value="Archive Selected" disabled="">
                            </div>
                        </div>
                    </div>

                    <!-- Archive Tab -->
                    <div class="tab-pane" id="archive">
                        <div class="content-section clearfix">

                            <!-- Message List Section -->
                            <div class="msg-list">
                                <table id="tblArchive">
                                    <tr>
                                        <td />
                                    </tr>
                                </table>
                                <div id="pager-2"></div>
                            </div>

                            <!-- Message Content Section -->
                            <div class="msg-content">
                                <ul class="header-box">
                                    <li><a class="msg-delete" href="#" onclick="deleteMessage('archive')">Delete</a></li>
                                    <li><a class="msg-reply" href="#" data-toggle="modal" data-target="#modalReplyMessage">Reply</a></li>
                                </ul>
                                <div class="msg-header">
                                    <h4><span id="spnArMsgSub">[message subject]</span></h4>
                                    <p>
                                        From: <span id="spnArFromName">[from name]</span><br />
                                        To: <span id="spnArToName">[to name]</span>
                                    </p>
                                    <p class="date-time">
                                        <span id="spnArLongDate">Wednesday, April 10, 2013 9:04 AM</span>
                                    </p>
                                </div>
                                <div class="msg-body">
                                    <span id="spnArMsgBody">
                                        <p>Hello User,</p>
                                        <p>This is a sample message.</p>
                                        <p>
                                            Thanks<br />
                                            User
                                        </p>
                                    </span>
                                </div>
                                <div style="display: none;">
                                    <span id="spnArMsgPK"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row button-box">
                            <div class="columns twelve">
                                <input id="btnArchiveDelete" class="button" type="button" value="Delete Selected" disabled="" />
                            </div>
                        </div>
                    </div>

                </div>

            </article>
        </div>
    </div>
</div>
<!-- END CONTENT SECTION -->

<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalNewMessage" class="modal hide fade large">

	<!-- Modal Header -->
	<div class="modal-header">
		<small class="right required"><strong>*Required Fields</strong></small>
		<h2 class="inline-block h2">New Message</h2>
	</div>
	
	<!-- Modal Body -->
	<div class="content-section">
		<ul class="row">
			<li class="columns seven">
				<label class="h3">To <span class="required">*</span></label>
				<select class="chzn-select width-300" data-placeholder="Type or select person's name" multiple>
					<option></option>
					<option>Micah Perini</option>
					<option>Travis Dahm</option>
					<option>Ron Singer</option>
				</select>
			</li>
			<li class="columns five">
				<label class="h3">From</label>
				[first name] [last name]
			</li>
		</ul>
		<ul class="row border">
			<li class="columns twelve">
				<label class="h3">Subject Line</label>
				<input class="width-full" type="text">
			</li>
		</ul>
		<ul class="row">
			<li class="columns twelve">
				<label class="h3">Message <span class="required">*</span></label>
				<textarea class="width-full" style="height:180px;"></textarea>
			</li>
		</ul>
	</div>
	
	<!-- Modal Footer -->
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button><button class="btn btn-primary">Send Message</button>
	</div>

</div>
<!-- END MODAL CONTENT SECTION -->


<!-- BEGIN MODAL CONTENT SECTION -->
<div id="modalReplyMessage" class="modal hide fade large">

	<!-- Modal Header -->
	<div class="modal-header">
		<small class="right required"><strong>*Required Fields</strong></small>
		<h2 class="inline-block h2">Message Reply</h2>
	</div>
	
	<!-- Modal Body -->
	<div class="content-section">
		<ul class="row">
			<li class="columns seven">
				<label class="h3">To <span class="required">*</span></label>
				<select class="chzn-select width-300" data-placeholder="Type or select person's name" multiple>
					<option></option>
					<option selected="">Micah Perini</option>
					<option>Travis Dahm</option>
					<option>Ron Singer</option>
				</select>
			</li>
			<li class="columns five">
				<label class="h3">From</label>
				[first name] [last name]
			</li>
		</ul>
		<ul class="row border">
			<li class="columns twelve">
				<label class="h3">Subject Line</label>
				<input class="width-full" type="text">
			</li>
		</ul>
		<ul class="row">
			<li class="columns twelve">
				<label class="h3">Message <span class="required">*</span></label>
				<textarea class="width-full" style="height:180px;"></textarea>
			</li>
		</ul>
	</div>
	
	<!-- Modal Footer -->
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button><button class="btn btn-primary">Send Message</button>
	</div>

</div>
<!-- END MODAL CONTENT SECTION -->

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/choosen")
    <script>
        //Ready function
        $(document).ready(function () {
            $('.top-nav ul li#liInbox').addClass('active');
            $('#myTab a:first').tab('show');
            $('select').chosen();

            //Check for new user messages every 5 secs
            setInterval(function () {
                $.post("@Url.Action("CheckNewUserMessage", "Inbox")", function (data) {
                    if (data > 0) {
                        $('#tblInbox').trigger('reloadGrid');
                    }
                });
            }, 5000);

            $("#tblInbox").jqGrid({
                url: 'Inbox/GetUserMessages?status=inbox',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    cell: "cell",
                    id: "id",
                    userdata: "userdata",
                },
                datatype: "json",
                altRows: true,
                autowidth: true,
                cellLayout: '20',
                height: '525',
                forceFit: true,
                scrollOffset: '0',
                multiselect: true,
                multiboxonly: true,
                multiselectWidth: '34',
                pager: '#pager-0',
                pagerpos: 'right',
                rowNum: '15',
                recordpos: 'left',
                viewrecords: true,
                sortname: 'Timestamp',
                sortorder: 'desc',
                sortable: true,
                colNames: ['PK_MessageID', 'Message', 'MessageBody', 'IsRead', 'From', 'Received', 'LongDate'],
                colModel: [
                    { name: 'PK_MessageID', hidden: true },
                    { name: 'MessageSubject', title: false },
                    { name: 'MessageBody', hidden: true },
                    { name: 'IsRead', hidden: true },
                    { name: 'FromUserName', width: '150', fixed: true, title: false },
                    { name: 'Timestamp', width: '150', fixed: true, align: 'center', title: false },
                    { name: 'LongDateString', hidden: true }
                ],
                onSelectRow: function (selRowId) {
                    $('#spnInMsgSub').text($('#tblInbox').jqGrid('getCell', selRowId, 'MessageSubject'));
                    $('#spnInMsgBodyNote').html($('#tblInbox').jqGrid('getCell', selRowId, 'MessageBody'));
                    $('#spnInLongDate').text($('#tblInbox').jqGrid('getCell', selRowId, 'LongDateString'));
                    $('#spnInFromName').text($('#tblInbox').jqGrid('getCell', selRowId, 'FromUserName'));
                    $('#spnInMsgPK').text($('#tblInbox').jqGrid('getCell', selRowId, 'PK_MessageID'));

                    var selRowIds = $('#tblInbox').jqGrid('getGridParam', 'selarrrow');
                    if (selRowIds != '') {
                        $('#btnInboxDelete').removeAttr("disabled");
                        $('#btnInboxArchive').removeAttr("disabled");
                    }
                    else {
                        $('#btnInboxDelete').attr("disabled", "disabled");
                        $('#btnInboxArchive').attr("disabled", "disabled");
                    }

                    //Make selected message IsRead = true if it has IsRead = false
                    if ($('#tblInbox').jqGrid('getCell', selRowId, 'IsRead') == 'false') {
                        $('#' + selRowId + ' td').removeClass('newMsg');

                        //Set IsRead value to true
                        var rowData = $('#tblInbox').jqGrid('getRowData', selRowId);
                        rowData.IsRead = 'true';
                        $('#tblInbox').jqGrid('setRowData', selRowId, rowData);

                        var value = {
                            "msgID": $('#tblInbox').jqGrid('getCell', selRowId, 'PK_MessageID')
                        }

                        //Post request to set IsRead value to true in db
                        $.post("@Url.Action("SetMessageIsReadTrue", "Inbox")", value, function () {
                        });
                    }
                },
                afterInsertRow: function (rowid, rowdata, rowelem) {
                    if (rowdata["IsRead"] == false) {
                        $('#' + rowid + ' td').addClass('newMsg');
                    }
                },
                loadComplete: function () {
                    $('#tblInbox').jqGrid('setSelection', 1, true);
                }
            });

            $('a[href="#sent"]').on('shown', function (e) {
                e.target
                $("#TableSent").jqGrid({
                    datatype: "clientSide",
                    gridview: true,
                    altRows: true,
                    autowidth: true,
                    cellLayout: '20',
                    height: '525',
                    forceFit: true,
                    scrollOffset: '0',
                    multiselect: true,
                    multiboxonly: true,
                    multiselectWidth: '34',
                    pager: '#pager-1',
                    pagerpos: 'right',
                    rowNum: '15',
                    recordpos: 'left',
                    viewrecords: true,
                    sortname: 'received',
                    colNames: ['Message', 'From', 'Received'],
                    colModel: [
                        { name: 'message', title: false },
                        { name: 'from', width: '150', fixed: true, title: false },
                        { name: 'received', width: '100', fixed: true, align: 'right', title: false }
                    ],
                    data: [
                        {
                            'message': '<strong>[message subject]</strong>',
                            'from': '<strong>[first name] [last name]</strong>',
                            'received': '<strong>[date/time]</strong>'
                        },
                        {
                            'message': '[message subject]',
                            'from': '[first name] [last name]',
                            'received': '[date/time]'
                        },
                        {
                            'message': '<strong>[message subject]</strong>',
                            'from': '<strong>[first name] [last name]</strong>',
                            'received': '<strong>[date/time]</strong>'
                        },
                        {
                            'message': '<strong>[message subject]</strong>',
                            'from': '<strong>[first name] [last name]</strong>',
                            'received': '<strong>[date/time]</strong>'
                        },
                        {
                            'message': '[message subject]',
                            'from': '[first name] [last name]',
                            'received': '[date/time]'
                        }
                    ]
                });
            });

            $('a[href="#archive"]').on('shown', function (e) {
                e.target
                $("#tblArchive").jqGrid({
                    url: 'Inbox/GetUserMessages?status=archive',
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        cell: "cell",
                        id: "id",
                        userdata: "userdata",
                    },
                    datatype: "json",
                    altRows: true,
                    autowidth: true,
                    cellLayout: '20',
                    height: '525',
                    forceFit: true,
                    scrollOffset: '0',
                    multiselect: true,
                    multiboxonly: true,
                    multiselectWidth: '34',
                    pager: '#pager-2',
                    pagerpos: 'right',
                    rowNum: '15',
                    recordpos: 'left',
                    viewrecords: true,
                    sortname: 'Timestamp',
                    sortorder: 'desc',
                    sortable: true,
                    colNames: ['PK_MessageID', 'Message', 'MessageBody', 'IsRead', 'From', 'Received', 'LongDate'],
                    colModel: [
                        { name: 'PK_MessageID', hidden: true },
                        { name: 'MessageSubject', title: false },
                        { name: 'MessageBody', hidden: true },
                        { name: 'IsRead', hidden: true },
                        { name: 'FromUserName', width: '150', fixed: true, title: false },
                        { name: 'Timestamp', width: '150', fixed: true, align: 'center', title: false },
                        { name: 'LongDateString', hidden: true }
                    ],
                    onSelectRow: function (selRowId) {
                        $('#spnArMsgSub').text($('#tblArchive').jqGrid('getCell', selRowId, 'MessageSubject'));
                        $('#spnArMsgBody').html($('#tblArchive').jqGrid('getCell', selRowId, 'MessageBody'));
                        $('#spnArLongDate').text($('#tblArchive').jqGrid('getCell', selRowId, 'LongDateString'));
                        $('#spnArFromName').text($('#tblArchive').jqGrid('getCell', selRowId, 'FromUserName'));
                        //$('#spnArToName').text(displayUserName);
                        $('#spnArMsgPK').text($('#tblArchive').jqGrid('getCell', selRowId, 'PK_MessageID'));

                        var selRowIds = $('#tblArchive').jqGrid('getGridParam', 'selarrrow');
                        if (selRowIds != '') {
                            $('#btnArchiveDelete').removeAttr("disabled");
                        }
                        else {
                            $('#btnArchiveDelete').attr("disabled", "disabled");
                        }

                        //Make selected message IsRead = true if it has IsRead = false
                        if ($('#tblArchive').jqGrid('getCell', selRowId, 'IsRead') == 'false') {
                            $('#' + selRowId + ' td').removeClass('newMsg');

                            //Set IsRead value to true
                            var rowData = $('#tblArchive').jqGrid('getRowData', selRowId);
                            rowData.IsRead = 'true';
                            $('#tblArchive').jqGrid('setRowData', selRowId, rowData);

                            var value = {
                                "msgID": $('#tblArchive').jqGrid('getCell', selRowId, 'PK_MessageID')
                            }

                            //Post request to set IsRead value to true in db
                            $.post("@Url.Action("SetMessageIsReadTrue", "Inbox")", value, function () {
                            });
                        }
                    },
                    afterInsertRow: function (rowid, rowdata, rowelem) {
                        if (rowdata["IsRead"] == false) {
                            $('#' + rowid + ' td').addClass('newMsg');
                        }
                    },
                    loadComplete: function () {
                        $('#tblArchive').jqGrid('setSelection', 1, true);
                    }
                });
            });
        });//End of ready

        //Function to set status of msg to archive
        function archiveMessage(status) {
            var msgPK;
            if (status == 'archive') {
                msgPK = $('#spnArMsgPK').text();
            }
            else if (status == 'inbox') {
                msgPK = $('#spnInMsgPK').text();
            }
            else {
                msgPK = '';
            }

            if (msgPK != '') {
                var value = {
                    "msgIds": msgPK
                }

                //Post request to archive selected msg
                $.post("@Url.Action("ArchiveSelectedMessage", "Inbox")", value, function (data) {
                    if (data) {
                        $('#artInbox').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Your message have been archived.</div>');
                        $('#tblInbox').trigger('reloadGrid');
                        $('#tblArchive').trigger('reloadGrid');
                    }
                    else {
                        alert('Error!');
                    }
                });
            }
        }

        //Function to delete selected msg
        function deleteMessage(status) {
            var msgPK;
            if (status == 'archive') {
                msgPK = $('#spnArMsgPK').text();
            }
            else if (status == 'inbox') {
                msgPK = $('#spnInMsgPK').text();
            }
            else {
                msgPK = '';
            }

            if (msgPK != '') {
                var value = {
                    "msgIds": msgPK
                }

                //Post request to archive selected msg
                $.post("@Url.Action("DeleteSelectedMessage", "Inbox")", value, function (data) {
                    if (data) {
                        $('#artInbox').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Your message have been deleted.</div>');
                        $('#tblInbox').trigger('reloadGrid');
                        $('#tblArchive').trigger('reloadGrid');
                    }
                    else {
                        alert('Error!');
                    }
                });
            }
        }

        //Button click event to delete all selected Inbox messages
        $('#btnInboxDelete').click(function () {
            //Get selected row ids
            var selRowIds = $('#tblInbox').jqGrid('getGridParam', 'selarrrow');

            //Get selected msgs PK ids
            var msgIds = '';
            $.each(selRowIds, function (index, value) {
                msgIds += $('#tblInbox').jqGrid('getCell', value, 'PK_MessageID') + ',';
            });

            var value = {
                "msgIDs": msgIds
            }

            //Update IsDismiss to true for all selected clients
            $.post("@Url.Action("DeleteSelectedMessage", "Inbox")", value, function (data) {
                if (data) {
                    $('#artInbox').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Your message(s) have been deleted.</div>');
                    $('#tblInbox').trigger('reloadGrid');
                    $('#tblArchive').trigger('reloadGrid');
                }
                else {
                    alert('Error!');
                }
            });
        });

        //Button click event to delete all selected Archive messages
        $('#btnArchiveDelete').click(function () {
            //Get selected row ids
            var selRowIds = $('#tblArchive').jqGrid('getGridParam', 'selarrrow');

            //Get selected msgs PK ids
            var msgIds = '';
            $.each(selRowIds, function (index, value) {
                msgIds += $('#tblArchive').jqGrid('getCell', value, 'PK_MessageID') + ',';
            });

            var value = {
                "msgIDs": msgIds
            }

            //Update IsDismiss to true for all selected clients
            $.post("@Url.Action("DeleteSelectedMessage", "Inbox")", value, function (data) {
                if (data) {
                    $('#artInbox').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Your message(s) have been deleted.</div>');
                    $('#tblInbox').trigger('reloadGrid');
                    $('#tblArchive').trigger('reloadGrid');
                }
                else {
                    alert('Error!');
                }
            });
        });

        //Button click event to set status as Arcive for all messages
        $('#btnInboxArchive').click(function () {
            //Get selected row ids
            var selRowIds = $('#tblInbox').jqGrid('getGridParam', 'selarrrow');

            //Get selected msgs PK ids
            var msgIds = '';
            $.each(selRowIds, function (index, value) {
                msgIds += $('#tblInbox').jqGrid('getCell', value, 'PK_MessageID') + ',';
            });

            var value = {
                "msgIDs": msgIds
            }

            //Update IsDismiss to true for all selected clients
            $.post("@Url.Action("ArchiveSelectedMessage", "Inbox")", value, function (data) {
                if (data) {
                    $('#artInbox').prepend('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" title="Close">&times;</a>Your message(s) have been archived.</div>');
                    $('#tblInbox').trigger('reloadGrid');
                    $('#tblArchive').trigger('reloadGrid');
                }
                else {
                    alert('Error!');
                }
            });
        });

    </script>
}